.main-pic-div {
  margin-left: 95%;
}

#navbarCollapse3 > ul.navbar-nav.ml-auto > li:nth-child(1) > div > div {
  width: max-content;
}


.nav-image{
  width: 23px;
  border-radius: 50%;
  margin-right: 20px;
}

